:root {
  --green:      #41B783;
  --darkgreen:  #34495C;
  --cell-alive: #FFA03C;
  --cell-dead:  white;
}

body {
  background: black;
}

.btn-green {
  background: var(--darkgreen);
  border-color: var(--darkgreen);
}

.btn-green:hover {
  background: var(--green)
}

.app {
  width: 580px;
  margin: auto;
}

/* CONWAYS NAV SECTION */
header {
  margin: 10px 0 0 0;
  padding: 10px;
  background: var(--green);
  border: 4px solid var(--darkgreen);
  border-radius: 10px;
}

header h1, h4 {
  text-align: center;
}

header div.alert {
  border: 2px solid;
  margin: 5px;
  text-align: center;
}

/* CONWAYS FIELD SECTION */

.content {
  margin-top: 10px;
  text-align: center;
  background: var(--green);
  border: 4px solid var(--darkgreen);
  border-radius: 10px;
}

.content div.control {
  padding: 10px 0;
}

.content div.field {
  margin-bottom: 10px;
}

.content div.field .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content div.field .cell  {
  width: 25px;
  height: 25px;
  margin: 1px;
  font-size: 8px;
  border: 1px solid black;
}

.content div.field .alive {
  background-color: var(--cell-alive);
}

.content div.field .dead {
  background-color: var(--cell-dead);
}

.content div.coordinates {
  height: 25px;
  padding: 2px;
  text-align: center;
  color: white;
  background-color: var(--darkgreen);
  border-top: 4px solid var(--darkgreen);
}

.content div.coordinates h4 {
  margin: 0;
  font-size: 10pt;
}