* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
    background: MediumSeaGreen;
    padding: 10px;
}

.header h1, p {
    text-align: center;
}

.content {
    background: Gray;
    padding: 10px;
}

.content table {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
}

.content table tr td  {
    background: white;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}